########## apx-utils #################
HELP.md
apx-utils/target/
apx-utils/src/main/resources/javafiles
apx-utils/src/test/resources/javafiles

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
.mvn/
apx-utils/mvnw.cmd
apx-utils/mvnw


liquibase/target/
liquibase/.settings/
liquibase/.project
liquibase/.classpath